@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: aileronFont;
    src: url(../assets/fonts/aileron/Aileron-Regular.otf);
}

@font-face {
    font-family: crimsonFont;
    src: url(../assets/fonts/crimson/Crimson-Roman.otf);
}

@font-face {
    font-family: introFont;
    src: url(../assets/fonts/intro-2/Intro\ Light\ Alt.otf);
}

@font-face {
    font-family: introFontBold;
    src: url(../assets/fonts/intro-2/Intro\ Bold\ Alt.otf);
}

@font-face {
    font-family: aliceFont;
    src: url(../assets/fonts/Alice/Alice-Regular.ttf);
}

:root {
    --background-color: #2b2b2b;
    --nav-bar: #1a1919;
    --black-textColor: #000000;
    --sub-text1: #F0F0F0;
    --sub-text2: #FFFFFF;
    --sub-bg: #d5cfcb;
    --highlight-color: #fabd02;
}

/* disabled the scrolling */
.no-scroll {
    overflow: hidden;
}

/* overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;
}

.overlay.active {
    display: block;
}

/* Register form */
.register-form-container,
.login-form-container {
    background-color: var(--sub-text1);
    font-family: introFontBold;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%) scale(0);
    z-index: 1000;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.register-form-container.active,
.login-form-container.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.register-form-container form,
.login-form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.field-container input {
    padding: 10px;
    border-radius: 5px;
}

.field-container input::placeholder {
    font-family: aileronFont;
}

.auth-link,
.terms-text {
    font-family: aileronFont;
}

.form-btn {
    font-family: crimsonFont;
}

/* NavLinks */
header {
    transition: ease-in-out 0.3s;
}

header.sticky {
    background-color: var(--nav-bar);
    box-shadow: 1px 0px 13px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 0px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

.nav-container ul li {
    font-family: aliceFont;
    font-size: 1.2rem;
    color: var(--sub-text1);
}

.login-btn {
    color: var(--primary-color);
    text-decoration: underline;
}

.signup-btn {
    color: var(--black-textColor);
    background-color: var(--sub-text1);
    border-radius: 6px;
    padding: 4px 30px;
}

/* Home page */
.hero-section {
    background-image: url('../assets/images/hero-bg.png');
    background-repeat: no-repeat;
}

.hero-section-container {
    color: var(--sub-text1);
    font-family: "Poppins", serif;
}

.hero-section-container h2 {
    font-size: 2.5rem;
    font-weight: normal;
}

.hero-section-container h1 {
    color: var(--highlight-color);
    font-size: 3.5rem;
    font-weight: 500;
}

.hero-section-container p {
    font-family: crimsonFont;
    font-size: 1.5rem;
    font-weight: bolder;
}

.hero-btn-container {
    font-family: introFont;
}

.get-started-btn {
    background-color: var(--sub-text1);
    color: var(--black-textColor);
    padding: 14px 24px;
    border-radius: 5px;
}

.hero-section-container {
    border-left: 5px solid var(--primary-color);
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}